
@media only screen and (max-width: 600px) {
  .v-expansion-panel-header {
    padding: 10px 16px !important;
  }
  .v-expansion-panel-content__wrap {
    padding: 0px 0px 16px !important;
  }

  label {
    font-size: 16px !important;
    /* font-weight: normal; */
  }
}

.qtn-radio-button input[type="radio"] {
  opacity: 0;
  position: fixed;
}

.qtn-radio-button label {
  display: inline-block;
  background-color: #F5F5F5;
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  font-weight:bold;
  border-radius: 4px;
  display: block;
  margin:10px 0px;
  text-align:center;
  border-radius: 25px;
}
.qtn-radio-button-compliant input[type="radio"]:checked + label {
  background-color: #13855f;
  color: white;
}
.qtn-radio-button-non-compliant input[type="radio"]:checked + label {
  background-color: #C60022;
  color: white;
}